<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHM CLASSES </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
   <div class="main">
       <div class="sub">
        <h1 class="head">WELCOME TO BHM CLASSES</h1>
        <p class="mainpara">We are a very strong team of Physics, Chemistry, Mathematics & 
            Biology Faculties. We were earlier the Senior Faculties of another institution ,
             but then we decided to form a dedicated team so that we can give proper care 
             and attention to students. This led to the Foundation of BHM Classes. 
             In the very first academic session we produced the best results of Board Exams 
             from Gurgaon City. Here we have a thirst for succes of our students and there are
              no boundaries of hard work at our institution. From past 2 Academic sessions,
             we have introduced Commerce, Humanities coaching also</p>
       </div> 
   </div>
   <div class="features">
       <h2 class="head2"> JOIN US FOR A BETTER FUTURE </h2>
       <p class="cont"><b>CHECK OUT SOME FEATURES OF OUR INSTITUTE</b></p>

       <div class="row">
        <div class="col-lg-4">
            <img src="./images/class.jfif"  alt="class" class =" all ">
            <h3 class="detail">Doubt Clearing sessions</h3>
            <p class="detail1">Special doubt Clearing sessions <br> are organized once a week. </p>
        </div>
        <div class="col-lg-4">
             <img src="./images/test.jfif" alt="exam" class="all">
             <h3 class="detail">Test On Regular Basis</h3>
             <p class="detail1">Test are conducted on regular basis to check <br> the understanding of the student.</p>
        </div>
        <div class="col-lg-4">
             <img src="./images/social-care.jfif" alt="care" class="all">
             <h3 class="detail">Proper Attention </h3>
             <p class="detail1">Proper attentionis given to each and every <br> student of the institute.</p>
        </div>
      </div> 
   </div>
   <div class="teachers">
       <h3 class="teach">MEET OUR FOUNDERS </h3>
       <p class="teachp">We Have The Highly Qualified Teacher For World Class Teaching </p>
       <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
           <div class="row">
             <div class="col-lg-6">
               <div class="card">
                 <img src="./images/pradeep  sir 2.jfif" class="card-img-top" alt="">
                 <div class="card-body">
                  <h5 class="card-title"> PRADEEP SIR </h5>
                  <p class="marks">Physics Faculty</p>
                </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="card">
                 <img src="./images/vikas sir.jfif" alt="vikas sir " class="card-img-top">
                 <div class="card-body">
                  <h5 class="card-title">VIKAS SIR </h5>
                  <p class="marks">Maths Faculty</p>
               </div>
             </div>
           </div>
          </div>
          </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
   </div>

   <div class="result">

    <h2 class="resulthead">OUR RESULT</h2>
    <p class="resultpara">CLASS X (2019-20)</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4">
             <div class="card">
               <img src="./class 10 final/ankit.jfif" class="card-img-top" alt="ankit">
               <div class="card-body">
                 <h5 class="card-title">ANKIT</h5>
                 <p class="marks">Maths-98</p>
               </div>
             </div>
            </div>
       
            <div class="col-lg-4">
             <div class="card" ">
               <img src="./class 10 final/abhinav.jfif" class="card-img-top" alt="abhinav">
                <div class="card-body">
                 <h5 class="card-title name">ABHINAV</h5>
                 <p class="marks">Maths-93</p>
              </div>
            </div>
          </div>
       
          <div class="col-lg-4">
            <div class="card">
             <img src="./class 10 final/shweta.jfif" class="card-img-top" alt="shweta">
             <div class="card-body">
               <h5 class="card-title">SHWETA</h5>
               <p class="marks">Maths-85</p>
             </div>
            </div>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img src="./class 10 final/dhruv.jfif" class="card-img-top" alt="dhruv">
        <div class="card-body">
          <h5 class="card-title name">DHRUV</h5>
          <p class="marks">Maths-98<br>Science-83</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <img src="./class 10 final/nitesh.jfif" class="card-img-top" alt="nitesh">
        <div class="card-body">
          <h5 class="card-title name">NITESH</h5>
          <p class="marks">Maths-93<br>Science-86</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <img src="./class 10 final/komal.jfif" class="card-img-top" alt="komal">
        <div class="card-body">
          <h5 class="card-title name">KOMAL</h5>
          <p class="marks">Maths-93<br>Science-86</p>
          </div>
      </div>
    </div>
  </div>

        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <img src="./class 10 final/harshit.jfif" class="card-img-top" alt="harshit">
                <div class="card-body">
                 <h5 class="card-title name">HARSHIT</h5>
                  <p class="marks">Maths-93<br>Science-80</p>
               </div>
              </div>
            </div>
        
            <div class="col-lg-4">
              <div class="card">
                <img src="./class 10 final/naman.jfif" class="card-img-top" alt="naman">
                   <div class="card-body">
                    <h5 class="card-title name">NAMAN</h5>
                    <p class="marks">Maths-90<br>Science-78</p>
                    </div>
              </div>
            </div>
            <div class="col-lg-4">
            <div class="card"">
              <img src="./class 10 final/vinay.jfif" class="card-img-top" alt="vinay">
               <div class="card-body">
                 <h5 class="card-title name">VINAY</h5>
                 <p class="marks">Maths-82<br>Science-84</p>
               </div>
             </div>
          </div>
          </div>
        
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   </div>

   <div class="quote">
     <h4 class="qutm"><marquee>LEARNING IS NOT ATTAINED BY CHANCE,IT MUST BE SOUGHT FOR WITH ARDOR AND DILIGENCE.</marquee></h4>
   </div>

    <div class="result">

    <h2 class="resulthead">OUR RESULT</h2>
    <p class="resultpara">CLASS XII (2019-20)</p>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img src="./class 12 final/naveen.jfif" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Naveen</h5>
                        <p class="marks">Physics-90<br>Maths-97</p>
                      </div>
                </div>
            </div>
        
            <div class="col-lg-3">
                <div class="card">
                  <img src="./class 12 final/kapil.jfif" class="card-img-top" alt="kapil">
                  <div class="card-body">
                    <h5 class="card-title">Kapil</h5>
                    <p class="marks">Physics-95<br>Maths-94</p>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3">
                <div class="card">
                  <img src="./class 12 final/ritika.jfif"class="card-img-top" alt="ritika">
                  <div class="card-body">
                    <h5 class="card-title">Ritika</h5>
                    <p class="marks">Physics-90<br> Maths-92</p>
                  </div>
                </div>
              </div>  
    
              <div class="col-lg-3">
                <div class="card">
                  <img src="./class 12 final/manjesh.jfif" class="card-img-top" alt="manjesh">
                  <div class="card-body">
                    <h5 class="card-title"> Manjesh </h5>
                    <p class="marks"> Physics-95<br> Chemistry-95 </p>
                  </div>
                </div>
              </div>         
        </div> 
        </div>
        <div class="carousel-item">
          
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <img src="./class 12 final/kavit.jfif" alt="kavit" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Kavit</h5>
            <p class="marks">Physics-89<br> Maths-86</p>
          </div>
         </div>
         </div>
    
         <div class="col-lg-3">
          <div class="card">
            <img src="./class 12 final/august.jfif" class="card-img-top" alt="august">
            <div class="card-body">
              <h5 class="card-title"> August </h5>
              <p class="marks"> Physics-93 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <img src="./class 12 final/jaskamal.jfif" class="card-img-top" alt="Jaskamal">
            <div class="card-body">
              <h5 class="card-title">Jaskamal </h5>
              <p class="marks"> Physics-92 </p>
            </div>
          </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <img src="./class 12 final/vaibhav.jfif" class="card-img-top" alt="vaibhav">
              <div class="card-body">
                <h5 class="card-title"> Vaibhav </h5>
                <p class="marks"> Physics-91 </p>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-3">
              <div class="card">
                <img src="./class 12 final/shagun.jfif" class="card-img-top" alt="shagun">
                <div class="card-body">
                  <h5 class="card-title"> Shagun </h5>
                  <p class="marks"> Physics-90  </p>
                </div>
              </div>
            </div>
            
            
            
            <div class="col-lg-3">
              <div class="card">
                <img src="./class 12 final/abhishek.jfif" class="card-img-top" alt="abhishek">
                <div class="card-body">
                  <h5 class="card-title"> Abhishek </h5>
                  <p class="marks"> Physics-90 </p>
                </div>
              </div>
            </div>
            
            
            <div class="col-lg-3">
              <div class="card">
                <img src="./class 12 final/ishita.jfif" class="card-img-top" alt="ishita">
                <div class="card-body">
                  <h5 class="card-title"> Ishita </h5>
                  <p class="marks"> Physics-89 </p>
                </div>
              </div>
            </div>
            
            
            <div class="col-lg-3">
              <div class="card">
                <img src="./class 12 final/vipin.jfif" class="card-img-top" alt="vipin">
                <div class="card-body">
                  <h5 class="card-title"> Vipin  </h5>
                  <p class="marks"> Physics-87 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div> 

   <div class="form">
       <h2 class="frmhd"> <b>GET IN TOUCH</b> </h2>
       <p class="parafrm">Feel Free To Ask Any Query </p>
       <form action="/home" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Name </label>
          <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fname">
         
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">E-mail Id</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="gmail">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Query </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="queries"></textarea>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
   </div>
       
  <footer>
    BHM CLASSES 
      <a href="https://www.instagram.com/bhmclasses/"><img src="./images/instagram .png" alt="instagram" class="foot"></a>
      <a href="bhmclasses@gmail.com"> <img src="./images/gmail .png" alt="gmail" class="foot"></a>
  </footer> 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
</body>
</html>